

.title{
    justify-content: center;
    text-align: center;
    color: #ff1100;
    align-items: center;
    margin: 50px;
    font-family: 'Book Man Old Styles';
    font-size: 3rem;
}

.home-container-1 {
    padding: 20px;
    text-align: left;
  
    .ant-col {
      justify-content: center;
      align-items: center;
    }
  
    img {
      max-width: 100%;
      height: auto;
      border-radius: 20px;
    }
  
    h1 {
      font-size: 2rem;
      color: #333;
      margin-bottom: 15px;
    }
  
    p {
      font-size: 1rem;
      color: #555;
      line-height: 1.6;
    }
  }
  

  .home-container-2 {
    padding: 20px;
    text-align: left;
  
    .ant-col {
      justify-content: center;
      align-items: center;
    }
  
    img {
      max-width: 100%;
      height: auto;
      border-radius: 20px;
    }
  
    h1 {
      font-size: 2rem;
      color: #333;
      margin-bottom: 15px;
    }
  
    p {
      font-size: 1rem;
      color: #555;
      line-height: 1.6;
    }
  }
  
  .home-container-3 {
    padding: 20px;
    text-align: left;
  
    .ant-col {
      justify-content: center;
      align-items: center;
    }
  
    img {
      max-width: 100%;
      height: auto;
      border-radius: 20px;
    }
  
    h1 {
      font-size: 2rem;
      color: #333;
      margin-bottom: 15px;
    }
  
    p {
      font-size: 1rem;
      color: #555;
      line-height: 1.6;
    }
  }
  