.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.dashboard-item {
  display: flex;
  align-items: center;
  background-color: #fc3a34; /* Light blue background */
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: all 0.3s ease;
  width: calc(25% - 2rem);
  text-decoration: none;
  color: inherit;
}

.dashboard-item:hover {
  background-color: #ff4800; /* Slightly darker orange on hover */
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.dashboard-item .icon {
  margin-right: 1rem;
}

.dashboard-item img {
  width: 64px;
  height: 64px;
  transition: transform 0.3s ease;
}

.dashboard-item:hover img {
  transform: scale(1.1);
}

.dashboard-item .text {
  text-align: left;
}

.dashboard-item .text h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.dashboard-item .text p {
  font-size: 1rem;
  opacity: 0.8;
}

@media (max-width: 1200px) {
  .dashboard-item {
    width: calc(33.33% - 2rem);
  }
}

@media (max-width: 992px) {
  .dashboard-item {
    width: calc(50% - 2rem);
  }
}

@media (max-width: 576px) {
  .dashboard-item {
    width: 100%;
  }
  
  .dashboard-item img {
    width: 48px;
    height: 48px;
  }
}