.manager-koi-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.koi-fish-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.koi-fish {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.koi-fish-image {
    width: 120px;
    height: 160px;
    margin: auto;
}

.koi-fish-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.koi-fish-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.koi-fish-detail {
    font-size: 1rem;
    margin-bottom: 5px;
    font-family: 'Arial', sans-serif;
}

.filter-search {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 200px;
}

.filter-select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 200px;
}

.add-koi-button {
    padding: 0px 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #e97f33;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s;
    margin-inline: auto;
}

.see-more-button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #e97f33;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.koi-fish-dashboard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    justify-content: space-between;
}

.koi-fish {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.popup-content h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.popup-content form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popup-content form div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.popup-content form label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.popup-content form input, .popup-content form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.popup-content .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.popup-content .button-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
}

.popup-content .button-group .cancel-button {
    background-color: #ccc;
    color: black;
    order: 1;
}

.popup-content .button-group .confirm-button {
    background-color: #e97f33;
    color: white;
    order: 2;
}
