/*.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.popup-content h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 20px;
}

.popup-content form {
        display: flex;
        flex-direction: column;
        gap: 20px;
}

.popup-content form div {
            display: flex;
            flex-direction: row;
            gap: 20px;
}

.popup-content form label {
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 5px;
}

.popup-content form input, .popup-content form select {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 100%;
}

.popup-content .button-group {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        width: 100%;
}

.popup-content .button-group button {
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            font-size: 1rem;
            cursor: pointer;
}

.popup-content .button-group .cancel-button {
            background-color: #ccc;
            color: black;
            order: 1;
}

.popup-content .button-group .confirm-button {
            background-color: #e97f33;
            color: white;
            order: 2;
}
*/
